.ForecastContainer {
  border: 1px solid black;
  padding: 1em;
  margin-top: 1em;
  display: block;
}

.ForecastContainer > div {
}

.ForecastTop {
  display: flex;
}

.ForecastTop > div {
  flex-grow: 6;
}

.ForecastTopLeft {
  text-align: left;
}

.ForecastTopRight {
  text-align: right;
}

.ForecastMiddle {
  text-align: center;
  font-size: 48px;
  margin: 1em 0;
}

.ForecastBottom {
  display: flex;
}

.ForecastCard {
  flex-grow: 2.4;
}
